
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="cont-log">

    <h1>Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {% if erro %}
        <h5>{{erro}}</h5>
        {% endif %}
       <p>CPF: <input type="text" name="usuario"></p>
       <p>Senha: <input type="password" name="senha"></p>

        <input class="submit" type="submit" value="Autenticar">
    </form>
   
    <p>Não possui uma conta?<a href="{% url 'cadastro' %}" class="cadastre-se"> Cadastre-se</a></p>
</div>
</div>
{% endblock %}