
{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    input.submit
    {
        background-color: #75933D;
    }
    .cont-log
    {
        border-radius: 10px;
        height: 380px;
        margin-top: 20px;
    }
    p
    {
        text-align: center;
        margin-bottom: 10px;    
    }
    h1
    {
        margin-top: 35px;
    }
    .cadastre-se
    {
        margin-bottom: 60px;
    }
</style>

<div class="container">
    <div class="cont-log">

    <h1>Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {% if erro %}
        <h5>{{erro}}</h5>
        {% endif %}
       <p>CPF: <input type="text" name="usuario"></p>
       <p>Senha: <input type="password" name="senha"></p>

        <input class="submit" type="submit" value="Autenticar">
    </form>
   
    <p>Não possui uma conta?<a href="{% url 'cadastro' %}" class="cadastre-se"> Cadastre-se</a></p>
</div>
</div>
{% endblock %}