*
{
    padding: 0;
    margin: 0;
    list-style: none;
}
#paragrafo
{
    color: black;
    font-size: 15px;
    padding-left: 130px;
    top: 400px;
    display: flex;
    position: absolute;

}
#usuary
{
    margin-left: 120px;
    margin-top: 100px;
    position: relative;
    position: absolute;
}
#linha-horizontal
{
    border-bottom: 3px solid #2D441B;
    margin-left: -4px;
    width: 350px;
    display: flex;
    
}
#linha-vertical
{
    border-left: 3px solid #2D441B;
    height: 600px;
    left: 350px;
    top: 215px;
    margin-left: -4px;
    position: absolute;
   
}
.CP
{
    padding-left: 450px;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-right: 100px;
}
#linkes
{
    color: black;
    padding-left: 100px;
    position: absolute;
    display: flex;
}
#linkes:hover
{
    color: #2D441B;
}
.links
{
    padding-top: 1px;
    padding-top: 250px;
    font-size: 22px;
    position: absolute;
      
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }