*
{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body
{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    width: 100vw;
    height: 100vh;
}
main
{
    display: grid;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    
    
}
/* Configuração do container Base das paginas */

.container{
    display: flex;
    background-color: aquamarine;
    width: 70%;
    height: 40%;
}



