*
{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    
}
head
{
    background-color: #F6F6E9;
}
html,body
{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #F6F6E9;

}
.conteiner
{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    width: auto;
    height: auto;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 150px auto 100px;
}


header{
    grid-area: 'header'; 

}
main{
    width: 100%; 
    background-color: #F6F6E9;
    grid-area: 'main';
    margin-top: 22px;
   
}
footer{
    grid-area: 'footer';
    margin-top: 22px;
}

/* Configuração do container Base das paginas */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: grid;
    background-color: #F6F6E9;
}

/* ========= Pagina de Passeios ========= */
.cont-passeio{
    width: 60vw;
    gap: 50px;
    padding: auto;
    display: grid;
    grid-template-areas: 'div div div';
}
.passeio{
    background-color: #2D441B;
    width: 500px;
    border-radius: 10px;
    padding: 3%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
.titulo{
    color: #F6F6E9;
    text-align: justify;
    
}
.descricao{
    color: #F6F6E9;
    text-align: justify;
}

.valor{
    color: #F6F6E9;
    text-align: justify;
}
.editar{
    background-color: #b9b939;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    width: 150px;
}
.deletar{
    background-color: rgb(194, 11, 11);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 150px;
}

.agendamento{
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10%;
}

input.submit
{
    margin-bottom: 15px;
    margin-left: -5px;
    height: 30px;
    width: 200px;
    position: relative;
    background-color: #75933D;;
    border-radius: 5px;
    color: #F6F6E9;
   
}
#bubu
{
    background-color: red;
    border-radius: 5px;
    color: #F6F6E9;
    height: 30px;
    width: 100px;
}


/* ========= Pagina CADASTRO / LOGIN ========= */

.cont-cad{
    width: 550px;
    height: 550px;
    background-color: #2D441B;
    border-radius: 2%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.cont-cad > h1{
    margin-left: 20px;
}
.cont-cad > p{
    margin-left: 100px;
}
.cont-log{
    width: 450px;
    height: 450px;
    background-color: #2D441B;
    border-radius: 2%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.cont-log > h1{
    margin-bottom: -100px;
    margin-left: 60px;
}
.cont-cad, .cont-log > h1, p{
    color: #F6F6E9;
}

