{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    .agenda{
        padding-left: 10px;
        background-color:#2D441B ;
        color: white;
        width: 68%;
        padding-bottom: 5px;
        margin-left: 28%;
        border-radius: 10px;
    }
    .tabelaSpace{
        background-color: white;
        padding-top: 5px;
        padding-bottom: 1px;
        margin-right: 5px;
    }
    .conteudoMain{
        display: block;
    }
    table{
        border: 1px black solid;
        margin-bottom: 5px;
        margin-left: 9px;
        width: 90%;
        background-color: #75933D;
        color: white;

    }
    tr{
        border: 1px black solid;
    }
    td{
        border: 1px black solid;
        padding: 8px;
    }
</style>

{% include 'perfil.html' %}
<div class="agenda">
    <h1>Agendamentos</h1>
    {% for agenda in agendamento %}
    <div class="tabelaSpace">
    <table>
        <tr>
            <td>Solicitante</td>
            <td>Data requisitada</td>
            <td>Quantidade do grupo</td>
            <td>Passeio</td>
            <td>Telefone</td>
        </tr>
        <tr>
            <td>{{agenda.usuario.nome_completo}}</td>    
            <td>{{agenda.data_proposta}}</td>
            <td>{{agenda.qtd_pessoas}}</td>
            <td>{{agenda.passeio}}</td>
            <td>{{agenda.usuario.telefone}}</td>
        </tr>
    </table>
    
    {% empty %}
            <p>Nada na Agenda</p>
    {% endfor %}
    </div>
</div>
{% endblock content %}