{% extends 'base.html' %}


{% load widget_tweaks %}
    
{% block content %}
    <h1>Agendamento</h1>
    <form method="post">
        {% csrf_token %}
        <p>{{form.data_proposta.label}}: 
            {% render_field form.data_proposta %}
        </p>
            <p>{{ form.qtd_pessoas.label}}: 
                {% render_field form.qtd_pessoas %}
            </p>
        <p>titulo: {{form.titulo}} </p>
        <input type="submit" value="Confirmar Agendamento">
    </form>
{% endblock content %}


