{% extends 'base.html' %}

{% load static %}

    {% block content %}
    {% include 'perfil.html' %}
    <style type="text/css">
        input.submit
        {
            position: absolute;
            border-radius: 5px;
            background-color: #75933D;
            color: #F6F6E9;
            height: 30px;
            width: 90px;
            margin-top: 5px;
        }
        .CP
        {
            border-radius: 10px;
            background-color: #2D441B;
            color: #F6F6E9;
            width: 450px;
            margin-left: 30%;
            display: grid;
            align-items: center;
            justify-content: center;
            padding-left: 95px;
        }
        h1
        {
            padding-top: 10px;
            padding-bottom: 15px;
        }
    </style>
        <div class="CP">
            <h1>Cadastrar Passeio</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="submit" type="submit" value="cadastrar">
            </form>
        </div>
    
    {% endblock content %}