{% extends 'base.html' %}

{% load static %}

    {% block content %}
    {% include 'perfil.html' %}
    <style type="text/css">
        .submite > input
        {
            position: absolute;
            border-radius: 10px;
            background-color: #2D441B;
            color: #F6F6E9;
            height: 30px;
            width: 90px;
            margin-top: 5px;
        }
        h1
        {
            padding-bottom: 20px;
        }
    </style>
        <div class="CP">
            <h1>Cadastrar Passeio</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="submite" type="submit" value="cadastrar">
            </form>
        </div>
    </div>
    {% endblock content %}