{% block interno %}
<style type="text/css">
    .cabecalho{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2D441B;
        color: #F6F6E9;
        gap: 50px;
    }
</style>
{% endblock interno %}

<div class="cabecalho">
    <div><img class="imagens" src=""></div>
    <div><h1>KATU EXPERIÊNCIAS</h1></div>
    <div class="menu">
        <a href="">Login</a>
        <a href="">Cadastro</a>
    </div>
    <div class="icon">

    </div>
</div>