{% load static %}

{% block interno %}

<style type="text/css">
    .cabecalho{
        height: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2D441B;
        color: #F6F6E9;
        margin-bottom: 50px;
        padding: 15px;
    }
    .right-header{
        gap: 10px;
        display: grid;
    }
    .box-user
    {
        align-items: center;
        right:5%;
        justify-content: center;
        position: relative;
        display: flex;
        gap: 10%;
        list-style: none;
    }
    a
    {
        color: white;
        text-decoration: none;
        font-weight: bold;
        width: auto;
        height: auto;
    }
    a:hover{
        color: #dde03e;
    }

    nav{
        background-color: #75933D;
        list-style-type: none;
        height: 40px;
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    nav > li{
        padding-right: 5%;
        padding-top: 3px;
    }

</style>
{% endblock interno %}

<div class="cabecalho">
    <div><img class="imagens" src=""></div>
    <div><h1>KATU EXPERIÊNCIAS</h1></div>
    <div class="right-header">
        <div class="box-user">
            {% if not user.is_authenticated %}
                <div>                
                    <a href="{% url 'login' %}">Login</a>
                </div>

                <div class="box-cadastro">
                    <a href="{% url 'cadastro' %}"> Cadastro </a>
                </div>
                {% else %}
                <a href="{% url 'perfil' %}">Perfil</a>
                {% endif %}

        </div>
        <div class="icon">
            <img src="{% static 'img/icons/tele.png' %}" alt="Icon" width= "40px" height="40px">
            <img src="{% static 'img/icons/local.png' %}" alt="Icon" width= "40px" height="40px">
            <img src="{% static 'img/icons/wpp.png' %}" alt="Icon" width= "40px" height="40px">
            <img src="{% static 'img/icons/tele.png' %}" alt="Icon" width= "40px" height="40px">
        </div>
    </div>

</div>

<nav>
    <li><a href="{% url 'passeios' %}">Lista Passeios</a></li>
</nav>
