{% load static %}

{% block interno %}

<style type="text/css">
    .cabecalho{
        height: 115px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2D441B;
        color: #F6F6E9;
        margin-bottom: 50px;
        padding: 15px;
    }
    #perf
    {
        
    }
    #nameU
    {
              
    }
    .right-header{
        gap: 10px;
        margin-left: 900px;
        display: grid;
    }
    .box-user
    {
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        gap: 7%;
        list-style: none;
        display: inline;
        
        
    }
    
    .box-cadastro{
        border-left: 10px, rgb(255, 255, 255);
        display: flex;
        gap: 25px;
    }
    a
    {
        color: white;
        text-decoration: none;
        font-weight: bold;
        width: auto;
        height: auto;
    }
    a:hover{
        color: #dde03e;
    }

    nav{
        background-color: #75933D;
        list-style-type: none;
        height: 55px;
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0.1rem 0.5rem #2D441B;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

    }
    .icoM
    {
        margin-left: 30px;
    }
    nav > li{
        padding-right: 5%;
        padding-top: 3px;
    }
    

</style>
{% endblock interno %}

<div class="cabecalho">
    <a href="{% url 'index' %}">
        <img src="{% static 'img/img_logo/imagen_da_logo.jpg' %}" alt="Icon" width= "55%" >
    </a>
    <div class="right-header">
        <div class="box-user">
            {% if not user.is_authenticated %}
               

                <div class="box-cadastro">
                    <a href="{% url 'login' %}">LOGIN</a>
                    <a href="{% url 'cadastro' %}"> CADASTRO </a>
                </div>
                {% else %}
                {% if user.is_superuser %}
                <a id="perf" href="{% url 'perfil' %}"><img src="{% static 'img/icons/usuario1.png' %}" alt="Icon" width= "60px" height="60px"></a>
                <p id="nameU">{{ user.nome_completo }}</p>
                {% else %}
                <a id="perf" href="{% url 'user_passeios' %}"><img src="{% static 'img/icons/usuario1.png' %}" alt="Icon" width= "60px" height="60px"></a>
                <p id="nameU">{{ user.nome_completo }}</p>
                {% endif %}
            {% endif %}
            
         </div>
    </div>

</div>

<nav>
    <div class="icoM">
        <a href="https://t.me/geysonfernandes"><img src="{% static 'img/icons/telegram.png' %}" alt="Icon" width= "55px" height="55px"></a>
        <a href="https://maps.app.goo.gl/oovts8rmGt9sceCC7"><img src="{% static 'img/icons/geolocalização.png' %}" alt="Icon" width= "55px" height="55px"></a>
        <a href="https://api.whatsapp.com/send?phone=+558494730933"><img src="{% static 'img/icons/whatsapp.png' %}" alt="Icon" width= "55px" height="55px"></a>
        <a href="https://www.instagram.com/katu_experiencias?igsh=MWExNDVkaDc4MGV6dg=="><img src="{% static 'img/icons/instagram.png' %}" alt="Icon" width= "55px" height="55px"></a>
    </div>
    <li><a href="{% url 'passeios' %}"><h3>Listar Passeios</h3></a></li>
</nav>
