{% extends 'base.html' %}

    
    {% block content %}

    <title>Passeios</title>

    <div class="container">
        <h1>Passeios</h1>

        {% for passeio in lista_passeios %}
        <div class="cont-passeio">

        <div class="cont-passeio">
            <div class="passeio">
                <div class="titulo"><h3>{{passeio.titulo}}</h3></div>
                <div class="descricao"><p>{{passeio.descricao}}</p></div>
                <div class="valor"><h3>{{passeio.valor}}</h3></div>
        
                <div class="editar"><a href="{% url 'editarPasseio' passeio.id %}">EDITAR</a></div>
                <div class="deletar"><a href="{% url 'deletarPasseio' passeio.id %}">DELETAR</a></div>
            </div>
        </div>
        {% empty %}

        <p>Nenhum Passeio cadastrado</p>

        {% endfor %}
    </div>

    {% endblock content %}

