{% extends 'base.html' %}

{% load static %}

    {% block content %}
    <img id="usuary" src="{% static 'img/icons/usuario2.png' %}" alt="img_usuario" width= "110px" height="100px">
    <p id="paragrafo"> Olá, {{ user.nome_completo }} </p>
 
    <div class="links">
        <br> 
        {% if user.is_superuser %}
        <a id="linkes" href="{% url 'admAgendamentos' %}">Agendamentos</a>
        <br>
        <div id="linha-horizontal"></div>
        
        <a id="linkes" href="{% url 'passeios' %}">Passeios</a>
        <br>
        <div id="linha-horizontal"></div>
        
        <a id="linkes" href="{% url 'cadastrarPasseio' %}">Adicionar Passeio</a>
        <br>
        <div id="linha-horizontal"></div>
        {% else %}
        <a id="linkes" href="{% url 'user_passeios' %}">Meus Passeios</a>
        <br>
        <div id="linha-horizontal"></div>
        <a id="linkes" href="{% url 'dados' user.cpf %}">Alterar dados da conta</a>
        <br>
        <div id="linha-horizontal"></div>
        {% endif %}

        <a id="linkes" href="{% url 'logout' %}" style="color: red;">Sair</a>
        <br>
       
    </div>
    <br>
    <div id="linha-vertical"></div>
    </div>


    {% endblock content %}

    
